.imggg {
    display: flex;
    height: 400px;
    margin-left: 3px;
    width: 1000px;
    justify-content: space-between;
    margin-top: 15px;
    
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-height: 50%;
}

img {
    display: none;

    
}

.imgb {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.ChangeImg {
    margin-top: 0px;
    width: 400px;
    height: 100px;
    margin-left: 380px;
    width: 234px;
    /* height: 80px; */
    font-size: 37px;
    background: none;
    color: #ffff;
    border: none;
    font-family: Inter;
    text-shadow: 4px 3px 7px #000;
}


 body {
    background-image: url(./img/1228617.jpg);    
 }

 .uptext h1{
    margin-top: 21px;
    height: 34px;
    margin-left: 255px;
    max-width: 2000px;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    width: 2000px;
 }

 /* ------------------------------------------ 
Responsive Grid Media Queries - 1280, 1024, 768, 
480 1280-1024 - desktop (default grid) 1024-768 - 
tablet landscape 768-480 - tablet 480-less - 
phone landscape & smaller 
--------------------------------------------*/  
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .imggg {
        display: flex;
        height: 610px;
        margin-left: 100px;
        width: 1550px;
        margin-top: 25px;
        
    }
   
    body{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        max-height: 50%;
    }
    
    img {
        display: none;
    
        
    }
    
    .imgb {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .buttons{
        margin-top: 20px;
    }
    .ChangeImg {
       
        width: 400px;
        height: 100px;
        margin-left: 667px;
        width: 351px;
        height: 38px;
        font-size: 55px;
        background: none;
        color: #ffff;
        border: none;
        font-family: Inter;
        text-shadow: 4px 3px 7px #000;
        margin-top: 20px;
    }
    
     .uptext h1{
        margin-top: 60px;
        height: 34px;
        margin-left: 470px;
        max-width: 2000px;
        font-size: 55px;
        color: #fff;
        /* text-shadow: 1px 1px 1px #000; */
        width: 2000px;
        text-shadow: 4px 3px 7px #000;
        
     }
    }
    
     @media all and (min-width: 768px) and (max-width: 1024px) { 
        .imggg {
            display: flex;
            height: 520px;
            margin-left: 80px;
            width: 1185px;
            margin-top: 25px;
            
        }
       
        body{
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            max-height: 50%;
        }
        
        img {
            display: none;
        
            
        }
        
        .imgb {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .buttons{
            margin-top: 20px;
        }
        .ChangeImg {
           
            width: 400px;
            height: 100px;
            margin-left: 667px;
            width: 351px;
            height: 38px;
            font-size: 55px;
            background: none;
            color: #ffff;
            border: none;
            font-family: Inter;
            text-shadow: 4px 3px 7px #000;
            margin-top: 20px;
        }
       
        
         .uptext h1{
            margin-top: 60px;
            height: 34px;
            margin-left: 470px;
            max-width: 2000px;
            font-size: 55px;
            color: #fff;
            /* text-shadow: 1px 1px 1px #000; */
            width: 2000px;
            text-shadow: 4px 3px 7px #000;
            
         }
        }
     @media all and (min-width: 480px) and (max-width: 768px) { 
        .imggg {
            display: flex;
            height: 471px;
            margin-left: 80px;
            width: 1185px;
            margin-top: 25px;
            
        }
       
        body{
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            max-height: 50%;
        }
        
        img {
            display: none;
        
            
        }
        
        .imgb {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .ChangeImg {
            margin-top: 15px;
            width: 400px;
            height: 100px;
            margin-left: 545px;
            width: 320px;
            height: 38px;
            font-size: 48px;
            background: none;
            color: #ffff;
            border: none;
            font-family: Inter;
            text-shadow: 4px 3px 7px #000;
        }
        
         .uptext h1{
            margin-top: 60px;
            height: 34px;
            margin-left: 345px;
            max-width: 2000px;
            font-size: 50px;
            color: #fff;
            /* text-shadow: 1px 1px 1px #000; */
            width: 2000px;
            text-shadow: 4px 3px 7px #000;    
         }
        }

     @media all and (max-width: 480px) {
        .imggg {
            display: flex;
            height: 452px;
            margin-left: 74px;
            width: 1140px;
            
        }
        
        body{
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            max-height: 50%;
        }
        
        img {
            display: none;
        
            
        }
        
        .imgb {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .ChangeImg {
            margin-top: 15px;
            width: 400px;
            height: 100px;
            margin-left: 485px;
            width: 320px;
            height: 38px;
            font-size: 48px;
            background: none;
            color: #ffff;
            border: none;
            font-family: Inter;
            text-shadow: 4px 3px 7px #000;
        }
        
         .uptext h1{
            margin-top: 38px;
            height: 34px;
            margin-left: 290px;
            max-width: 2000px;
            font-size: 50px;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            width: 2000px;
        }
    }